<a href="https://colab.research.google.com/github/raviiraj13/Python/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
age=int(input("Enter your age"))
if age>=18:
  print("You can vote")
else:
  print("You can't vote")

Enter your age56
You can vote

In [ ]:
for i in range (1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
a=7
b=7.5
c="ravi"
d=True
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
#List & Tuples

#List & Tuples

In [ ]:
#whos

In [ ]:
print(45)

45

In [ ]:
marks=[77,80,85,95,75,72]
print(marks)
print(type(marks))

[77, 80, 85, 95, 75, 72]
<class 'list'>

In [ ]:
print(marks[2])
marks[2]=92
print(marks[2])

85
92

In [ ]:
print(marks[0],len(marks))

77 6

In [ ]:
student=["Ravi","24ESKCS678",20]
print(student)

['Ravi', '24ESKCS678', 20]

In [ ]:
print(marks[1:5])

[80, 85, 95, 75]

In [ ]:
print(marks[-3:-1])

[95, 75]

In [ ]:
l=[31,12,30,4,45]
l.append(6)
print(l,len(l))

[31, 12, 30, 4, 45, 6] 6

In [ ]:
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[4, 6, 12, 30, 31, 45]
[45, 31, 30, 12, 6, 4]

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
sum??

In [ ]:
l.reverse()
print(l)

[4, 6, 12, 30, 31, 45]

In [ ]:
l.insert(4,51)
print(l)

[4, 6, 12, 30, 51, 31, 45]

In [ ]:
l.pop(3)

30

#Tuples

In [ ]:
tup=(1,2,3)
print(tup)
print(type(tup))

(1, 2, 3)
<class 'tuple'>

#Dictionary

In [ ]:
di={
    "name" : "Ravi",
    "roll" : "678",
    "age" : "20",
}
print(di)
print(type(di))

{'name': 'Ravi', 'roll': '678', 'age': '20'}
<class 'dict'>

In [ ]:
print(di["name"])

Ravi

In [ ]:
di["age"]

'20'

In [ ]:
print(list(di.keys()))

['name', 'roll', 'age']

In [ ]:
print(len(di))

3

#SET

In [ ]:
s={1,222,333,11,11,"ravi","ravi"}
print(s)
print(type(s))

{1, 'ravi', 11, 333, 222}
<class 'set'>

In [ ]:
print(len(s))

5

#loops

In [ ]:
for i in range(0,5):
  print("Ravi")

Ravi
Ravi
Ravi
Ravi
Ravi

In [ ]:
i = 0
while i<5 :
  print("ravi")
  i+=1

ravi
ravi
ravi
ravi
ravi

In [ ]:
heroes=["ironman","hulk","thor"]
for hero in heroes:
  print(hero)

ironman
hulk
thor

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (1,10,2):
  print(i)

1
3
5
7
9

#Functions

In [ ]:
def greet(num):
  print("Hello"*num)
  return


n=int(input("Enter the number of times you want to greet: "))
greet(n)

Enter the number of times you want to greet: 9
HelloHelloHelloHelloHelloHelloHelloHelloHello

In [ ]:
def average(a,b,c):
  avg=(a+b+c)/3
  print("average : ",avg)
  return
average(10,20,30)

average :  20.0